{% extends 'base.html' %}

{% block head %}
<title>Login</title> 
{% endblock %}


{% block body %}
    <h1><div class="text-center" >Add Post</div></h1>
    <div class ="container" style ="background-color:#c8dfe9;">
        <div class = "row">
    <form action='/add' method='POST' enctype="multipart/form-data">
        <div class="col-md">
            <div class="card bg-light mb-3" style="max-width: 18rem;" >
                <h5 class="card-title"> Upload Image:<input type="file" id="file" name="file" accept="image/*">
        <div class="card-body" style = "background-color:#95b5c3;">
        Description: <input type='text' name='content' id='content', required>
        <input type='submit' value='Add'>
        </div>
        </h5>
        </div>
        </div>

    </form>
</div>
</div>
    <a href="/listposts">Return to Posts</a>
<hr>
    <p>{{message}}</p>
{% endblock %}