{% extends 'base.html' %}

{% block head %}
<h1>Update Listing</h1>
{% endblock %}
{% block body %}

<div class ="container" style ="background-color:#f3dcdc;">
    <div class = "row">
    <form action='/update' method='POST' enctype="multipart/form-data">
        <div class="col-md">
            <div class="card bg-light mb-3" style="max-width: 18rem;" >
        <input type="hidden" name="listing_id" value="{{listing.listing_id}}"/>
        <div class="card-body" style = "background-color:#caa8ac;">
        
        <h5 class="card-title">Upload Image:<input type="file" id="file" name="file" accept="image/*">
        
        Address: <input type='textarea' name='address' id='address', required, value = "{{listing.address}}">

        Suburb:<input type='textarea' name='suburb' id='suburb' required, value = "{{listing.suburb}}">

        Zip Code:<input type='number' name='zipcode' id='zipcode' required, value = {{listing.zipcode}}>
        <br>
        <br>
        Details: <input type='textarea' name='details' id='details' required, value = "{{listing.details}}">
        <br>
        <br>
        Price: <input type= 'number' name='price' id='price', required, value = {{listing.price}}>
    </h5> 
    
    <input type="radio" id="status" name="status" value="forsale" checked>
        <label for="status">For Sale</label><br>
        <input type="radio" id="admin" name="status" value="sold">
        <label for="admin">Sold</label><br>
    <input type="submit" value = "Update"></input>
</form>
<hr>

{% endblock %}