{% extends 'base.html' %}

{% block head %}
<title>Add Listing</title> 
<form action="/wishlist">
    <input type="submit" value="See Wishlist" />
</form>
<div style="text-align:left;">
<form action="/logout">
    <input type="submit" value="Logout" />
</form>
</div>
{% endblock %}

{% block body %}


 

    
    <div class="container">
        <div style="text-align:center;">
        <p>Welcome to myListings, your social platform to share and browse properties. To view properties, please enter your price range below </p>
    </div>
    </div>

        <hr>
<h1> <div class="text-center" >Listings</div></h1>
<br>
<h2> <div class="text-center" >Please select your price range</div></h2>


<div style="text-align:center;">
    <form action ='/listings' method="POST">
    From:<input type= 'number' name='low' id='low', required> To: <input type= 'number' name='high' id='high', required>
<input type="submit" value="Search"/>
</form>
</div>

<p>

</p>

    <div class ="container" style ="background-color:#f3dcdc;">
    <div class = "row">
        {% for listing in listings %}
        <form action = '/interested' method="POST"> 
            <input type="hidden" name="listing_id" value="{{listing.listing_id}}"/>
    <div class="col-md">
    <div class="card bg-light mb-3" style="max-width: 18rem;" >
       <input type="hidden" name = "img_url" value = "{{listing.image_url}}"/>
        <img src = "{{listing.image_url}}" class="card-img-top" alt = " Listing Image" width="250px" height="250px">
        <div class="card-body" style = "background-color:#caa8ac;">
          Address:<h5 class="card-title">{{ listing.address }}</h5>
          <input type="hidden" name="address" value="{{listing.address}}"/>
          <br>
          Suburb:<p class="card-text">{{listing.suburb}} 
            <input type="hidden" name="suburb" value="{{listing.suburb}}"/>  
        <br>
            Zipcode: <br> {{listing.zipcode}}
            <input type="hidden" name="zipcode" value="{{listing.zipcode}}"/> 
        <br>
            Details: <br> {{listing.details}}
            <input type="hidden" name="details" value="{{listing.details}}"/>
           <br>
            Price: <br>{{listing.price}}
            <input type="hidden" name="price" value="{{listing.price}}"/>
           <br>
            Status: <br>{{listing.status}}
            <input type="hidden" name="status" value="{{listing.status}}"/> 
            <br>
            Comments: <br>
            <input type = "textarea" id = "comments" name = "comments"/>
        </p>
          <br /><button type="submit">Add to Wishlist</button>
        </div>
        </div>
      
    </div>
</form>
    {% endfor%}    

    </div>
</div>
{% endblock %}