{% extends 'base.html' %}

{% block head %}
<title>Wishlist</title> 
{% endblock %}

{% block body %}
<form action="/listings">
    <input type="submit" value="Back to Home" />
</form>
<h1> <div class="text-center" >Listings</div></h1>
<br>
<div class="container" style ="background-color:#f3dcdc;">
    <div class = "row">
{% for listing in listings %}
    <form action = '/wishlist' method="GET">  
        <div class="col-sm">
            <div class="card bg-light mb-3" style="max-width: 18rem;">
                <img src = "{{listing.image_url}}" class="card-img-top" alt = " Listing Image" width="250px" height="250px">
                <div class="card-body" style = "background-color:#caa8ac;">
                    Address:<h5 class="card-title">{{ listing.address }}</h5>
                    <input type="hidden" name="address" value="{{listing.address}}"/>
                    <br>
                    Suburb:<p class="card-text">{{listing.suburb}} 
                      <input type="hidden" name="suburb" value="{{listing.suburb}}"/>  
                  <br>
                      Zipcode: <br> {{listing.zipcode}}
                      <input type="hidden" name="zipcode" value="{{listing.zipcode}}"/> 
                  <br>
                      Details: <br> {{listing.details}}
                      <input type="hidden" name="details" value="{{listing.details}}"/>
                     <br>
                      Price: <br>{{listing.price}}
                      <input type="hidden" name="price" value="{{listing.price}}"/>
                     <br>
                      Status: <br>{{listing.status}}
                      <input type="hidden" name="status" value="{{listing.status}}"/> 
                      <br>
                      Comments: <br>{{listing.comments}}
                      <input type="hidden" name="comments" value="{{listing.comments}}"/> 


       </div>
        </div>
      
    </div>
    </form>
{%endfor%}
</div>
</div>

{% endblock %}